@model CodeFirstEF.Models.EmpDeptViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Employee Information</h1>
        <hr />
        <table border="1">
            <tr>
                <th>Eno</th>
                <th>Ename</th>
                <th>Job</th>
                <th>Salary</th>
                <th>DeptID</th>
            </tr>
            @{ 
                foreach (var item in Model.Emps)
                {
                        <tr>
                            <td>@item.Eno</td>
                            <td>@item.Ename</td>
                            <td>@item.Job</td>
                            <td>@item.Salary</td>
                            <td>@item.DeptID</td>
                        </tr>
                }
            }
        </table>
        <hr />
        <h1>Department Infromation</h1>
        <hr />
        <table border="1">
            <tr>
                <th>DeptID</th>
                <th>DeptName</th>
            </tr>
            @foreach (var item in Model.Depts)
            {
                <tr>
                    <td>@item.DeptID</td>
                    <td>@item.DeptName</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
