@model PartialAndLayoutViews.Models.Employee

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetSingleEmp</title>
</head>
<body>
    <div> 
        <h1>Employee Detail are: </h1>
        <div>
            Employee No is: @Model.Eno<br />
            Employee Name is: @Model.Ename<br />
            Employee Job is: @Model.Job<br />
            Employee Salary is: @Model.Salary<br />
            Employee DeptID is: @Model.DeptID<br />
        </div>
    </div>
</body>
</html>
